<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        body{
            margin: 0 40px 0 40px;
        }
        h4{
            margin: 10px 0 10px 0;
        }   
        div{
            display: inline-block;
            vertical-align: top;
            width: 500px;
        }
        input{
            display: block;
            margin-top: 20px;
        }
    </style>
</head>
<body>
   <h1>Edit Movie</h1>
    <form action="/update/<%= movie.id %>" method = "post">
      <input value="<%= movie.name %>" type="text" name="name"  placeholder="name"/>
      <input value="<%= movie.genre %>" type="text" name="genre" placeholder="genre"/>
      <input type="submit" value="ok"/>
    </form>
</body>
</html>